@import "app/scss/font.scss";

$topBackground: #c5c5c5;
$font: Verdana;
$fontBold: Verdana-Bold;

body {
    max-width: 960px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
}
header {
    .header-top {
        background: $topBackground;
        display: block;
        .name-date {
            color: #fff;
            display: inline-block;
            @media (max-width: 970px) {
                display: flex;
                width: 100%;
                margin: 0 auto;
                justify-content: center;         
            }
            h2 {
                font-family: $font;
                display: inline-block;
                margin: 13px 24px 13px 13px;
                font-weight: 400;
                font-size: 13px;
            }
            h3 {
                font-family: $fontBold;
                display: inline-block;
                font-size: 13px;
                margin: 13px 0;
            }
        }
        .input-top {
            display: inline-block;
            margin-left: 160px;
            @media (max-width: 970px) {
                display: flex;
                width: 100%;
                margin: 0 auto;
                justify-content: center;         
            }
            .text {
                width: 140px;
                box-sizing: border-box;
                padding: 4px;
                font-size: 11px;
                font-family: $font;
                height: 20px;
            }
            .button {
                background: #9b9b9b;
                border: 1px solid #444443;
                color: #20201e;
            }
        }
    }
    .header-logo {
        img {
            max-width: 100%;
        }
        .img {
            max-width: 100%;
            float: left;
            margin: 30px 0 30px 15px;
            @media (max-width: 970px) {
                display: flex;
                width: 100%;
                justify-content: center;
                float: none;
                margin: 30px 0 30px 0;
            }
        }
        .text {
            display: inline-block;
            width: 34%;
            margin-left: 27%;
            @media (max-width: 970px) {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 0;
            }
            p {
                font-size: 18px;
                font-family: $font;
                color: #003ca2;
                margin: 30px 0;
            @media (max-width: 970px) { 
                text-align: center;
                padding: 0 10px;
            }
            }
        }
        .plane {
            img {
                max-width: 100%;
            }
        }
    }
    .nav {
        margin-top: 3px;
        ul {
            padding: 0;    
            margin: 0;
            display: block;
            @media (max-width: 970px) {
                display: none;
            }
            @media (max-width: 1440px) and (min-width: 970px) {
                display: block !important;            
            }
        }
        #toggle {
            display: none;
            @media (max-width: 970px) {
                display: block;  
                width: 100%;
            }
        }
        li {
            list-style: none;
            display: inline-block;
            margin: 0 -4px 0 0;
            background: #134094;
            border-bottom: 7px solid #fff;
            @media (max-width: 970px) {
                border-bottom: none;
                display: block;
                width: 100%;
            }
            &:hover {
                border-bottom: 7px solid #db0029;
            }
            a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                font-family: $fontBold;
                font-size: 13px;
                text-align: center;
                width: 160px;
                display: block;
                padding: 20px 0;
                @media (max-width: 970px) {
                    width: 100%;
                }
            }
        }
    }
}
.main {
    padding-top: 23px;
    display: table;
    .bar {
        @media (max-width: 970px) {
            display: none;
        }
        float: left;
        ul {
            padding: 0;
            margin: 0;
            .border {
                border-top: 1px solid #d3d3d3;
            }
            li {
                list-style: none;
                a {
                    font-size: 13px;
                    font-family: $font; 
                    color: #134094;
                    text-decoration: none;
                    padding: 16px 40px 17px 10px;
                    display: block;
                    border-bottom: 1px solid #d3d3d3;
                }
            }
        } 
    }
    .news {
        display: inline-block;
        width: 54%;
        margin: -5px 25px 0 40px;
        @media (max-width: 970px) {
            width: 100%;
            margin: 0;
            padding: 0 10px;
            display: block;
            box-sizing: border-box;
        }
        h1 {
            margin: 0;
            display: inline-block;
            font-size: 24px;
            font-weight: 400;
            font-family: $font;  
            color: #c20016;
            margin-bottom: 27px;
            span {
                color: #134094;
            }
        }
        .photo {
            img {
                width: 100%;
                height: 326px;
            }
            .video {
                width: 100%;
                height: 17px;
                background: #9b9b9b;
                margin-top: -4px;
                a {
                    color: #fff;
                    text-decoration: none; 
                    font-size: 11px;
                    font-family: $font; 
                }
                .left {
                    float: left;
                    padding-left: 9px;
                }
                .right {
                    float: right;
                    padding-right: 9px;
                }
            }
        }
    }
    
    @mixin text($transform, $margin, $color, $size) {
        margin: $margin;
        font-size: $size;
        font-weight: 400;
        text-align: center;
        text-transform: $transform;
        color: $color;
        font-family: $font;
    }
    .personal-area {
        float: right;
        width: 20%;
        @media (max-width: 970px) {
            display: none;
        }
        .info {
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            h1 {
                @include text(uppercase, 0, #134094, 18px);

            }
            .profile {
                .profile-photo {
                    display: flex;
                    justify-content: center;
                    margin-top: 25px;
                }
                a {
                    @include text(unset, 12px 0 8px 0, black, 13px);
                    display: block;
                }
                .task {
                    margin-top: 16px;
                    h1 {
                        @include text(uppercase, 20px 0 9px 0, #134094, 13px);
                    }
                    .doc, .bid {
                        padding: 0 10px;
                        font-family: $font;
                        .sum-1, .sum-2  {
                            float: right;
                        }
                        .sum-doc-1 {
                            display: inline-block;
                            color: red;
                            margin: 0;
                        }
                        .sum-doc-2 {
                            display: inline-block;
                            margin: 0;
                        }
                        h3 {
                            margin: 0;
                            font-size: 13px;
                            font-weight: 400;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .interview {
            h1 {
                font-size: 18px;
                color: #c20016;
                text-transform: uppercase;
                font-family: $font;
                margin: 13px 0 17px 0;
            }
            .input {
                h2 {
                    font-size: 13px;
                    color: #2a4290;
                    font-family: $font;   
                    margin: 0 0 10px 0;
                    padding-right: 37px;
                }
                input {
                    margin: 0 0 5px 0;
                }
                span {
                    font-style: italic;
                    font-family: $font;  
                    font-size: 11px;
                }
            }
        }      
    }
}